.swimming div{
    border: 1px dotted navy;
    border:hidden;
    width: 200px;
}
.swimming{
    position: relative;
}
#boy{
    position: relative;
    z-index: 11;
    left: 15px;

}
#ring{
    position:absolute;
    left: 5px;
    top: 35px;
    z-index: 1;
    
}
#water{
    position: relative;
    left: 0px;
    top: -50px;
    z-index: -1;
}
.dummy{
    display: flex;
}
.dummy div{
    border: 1px solid red;
    height: 100px;
    width: 100px;
    background-color: olive;
}
table{
    margin: 20px;
    border-collapse: collapse;
}
th, td {
    border: 2px solid springgreen;
    padding: 10px;
}
thead{
    background-color: tomato;
    color: mediumblue;
}
tbody{
    background-color: mediumseagreen;
    color: oldlace;
}
table caption{
    width: 40%;
    text-align: center;
    position: relative;
    left: 134px;
    color:rgb(43, 143, 84);
    margin-bottom: 10px;
    border: 3px double rgb(88, 45, 24);
    font-size: 20px;
    font-weight: 900;
}
.semantic ul {
    display: flex;
}
.semantic div{
    margin-right: 50px;
}
.semantic header{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 20px;
}
.support{
    background-color: chocolate;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;

}
.support a, h2{
    color: white;
}
.cricket-animation{
    margin-left: 205px;
    margin-bottom: 200px;
    margin-top: 50px;
}
.field{
    border: 1px solid ;
}
.animation{
    text-align: center;
    text-decoration: underline;
}
.field:hover .bat{
    transform: rotate(-50deg);
    transform-origin: top right;
}
.ball{
    position: relative;
    left: 287px;
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 20px;
    transition: transform 1s ease-out .3s;
}
.field:hover .ball{
    transform: translate(800px, -100px);
}
.bat{
    transition: transform .3s ease-in;
}